@import "tailwindcss";
:root {
  --color-primary: #1959AC;
  --color-primary-hover: #0546D2;
  --color-text-dark: #222222;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  color: var(--color-text-dark);
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.primary-btn{
  @apply bg-[var(--color-primary)] text-white rounded-md flex items-center gap-2 shadow-md px-5 py-3 ;
}
.primary-btn-hover{
  @apply bg-[var(--color-primary-hover)] text-white rounded-md flex items-center gap-2 shadow-md px-5 py-3;
}
/* .section_heading {
  @apply text-md text-[color:var(--color-primary)] font-bold uppercase
} */
.clip-hero {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
